<h1>All Guest</h1>
<%= link_to "Add Guest", new_guest_path %>


<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mailing Address</th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @guests.each do |guest| %>

      <tr>
        <th schope="row"><%= guest.full_name %></th>
        <td></td>
        <td>
          <address>
            <%= guest.street %>
            <%= guest.address2 %>
            <%= guest.city %>, <%= guest.state %> <%= guest.zip_code %>
          </address>
        </td>
        <td>
          <%= link_to edit_guest_path(guest) do %>
          <%= fa_icon "edit" %>
          <% end %>
          <%= link_to guest_path(guest), method: :delete do %>
          <%= fa_icon "trash" %>
          <% end %>

        </td>
      </tr>

    <% end %>
  </tbody>
</table>
