<%= form_for @event do |f| %>
  <p>
    <%= f.label :name, 'Event Name' %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </p>
  <p>
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time %>
  </p>
<fieldset>

<legend>Venue</legend>
  <%= f.fields_for :venue do |form| %>
    <p>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </p>
    <p>
      <%= form.label :street %><br>
      <%= form.text_field :street %>
    </p>
    <p>
      <%= form.label :city %><br>
      <%= form.text_field :city %>
    </p>
    <p>
      <%= form.label :state %><br>
      <%= form.text_field :state %>
    </p>
    <p>
      <%= form.label :zip_code %><br>
      <%= form.text_field :zip_code %>
    </p>
  <% end %>
  </fieldset>
<%= f.submit %>
<% end %>
